html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: url(../img/back.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.header-text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.header-text h1{
    color: #fff;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 3;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.contenu{
    margin-top: 80px;

}

.contenu p{
    width: 60%;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

.realisation{
    width:60%;
    margin: 100px 20%;
    position: relative;
    backface-visibility: hidden;
    
    
}

.realisation:hover .img-real{
    opacity: .4;
}

.img-real{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

h1{
    text-align: center;
    color: red;
    text-transform: uppercase;
}
h2{
    text-align: center;
}

hr{
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.real-text{
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px;
  
}

.realisation:hover .real-text{
    opacity: 1;
    background-color: #fff;
    border-radius: 10px;
}

.real-titre{
    font-size: 24px; 
    text-transform: uppercase;
    font-weight: bold;
    
}

.real-para{
    width: 80%;
    margin:10px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;

}

/** --------------CAROUSEL---------------- **/

.carousel{
    position: relative;
    overflow: hidden;
}

.item{
    text-align: center;
    position: relative;
}


.carousel__container{
    transition: transform 0.3s;
    transform: translate3d(0,0,0)
}
.carousel__container::after{
    content: '';
    clear: both;
    display: table;

}

.carousel__item{
    float: left;
    
}
.item__title{
    position: absolute;
    left: 30%;

}

.carousel__img{
    width: 30%;
    margin:10% 30%;
    
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}

.carousel__next, .carousel__prev{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0px;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    background-image: url(../img/next.svg);
    transition: transform 0.3s;
}

.carousel__next:hover, .carousel__prev:hover{
    transform: scale(1.2);
}

.carousel__prev{
    background-image: url(../img/back.svg);
    right: auto;
    left: 0px;
}

.carousel__prev--hidden, .carousel__next--hidden{
    opacity:0;
}

p{
    width: 60%;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

h3{
    text-align: center;
}



/** --------------FOOTER---------------- **/

footer{
    width: 100%;
    background-color: #222;
    padding: 60px 0px;
    
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__item{
    margin: 0 auto;
}

.footer__item a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}


.footer__item img{
    width: 40px;
    height: auto;
    
}

@media screen and (max-width: 800px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }


    .realisation{
        margin: 20px 20%;
        
    }
    .real-text{
    
       /* opacity: 1; */
       padding: 10px;
   }

   .real-titre{
    font-size: 12px; 
    text-transform: uppercase;
    font-weight: bold;
    
}

.real-para{
    width: 80%;
    text-align: center;
    font-size: 10px;
    line-height: 13px;

}
   
   
    .item__title{
        position: absolute;
        left: 10%;
        margin-right: 10%;
        top: 30%;
    
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
  }